/* app css stylesheet */

body {
    padding-top: 20px;
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
}

div {
    font-family: 'Raleway', sans-serif;
}

h6 { 
    font-size: 100px;
    color: blue;
}

#navbar {
    background: rgba(25, 25, 25, .9);
}

#hover {
    background: transparent;
    border: 1px solid white;
    color: white;
}

#hover:hover {
    background-color: #CC2900;
    color: white;
    border: 1px solid #CC2900;
}

.signUp:hover {
    background: rgba(255, 255, 255, 0.5);
    color: rgba(92, 184, 92, 0.9);
    border: 1px solid rgba(92, 184, 92, 0.9);
}

.logIn:hover {
    background: rgba(255, 255, 255, 0.5);
    color: rgba(92, 184, 92, 0.9);
    border: 1px solid rgba(92, 184, 92, 0.9);
}

.card {
    width:90%;
    padding-left:10%;
}

/*
.transparent {
    background: rgba(255, 153, 51, 0.4);
    position:fixed;
}
*/

h1 {
    border-bottom: 1px solid gray;
}