<div ng-init="checkLogged()" hide-nav-bar="true" class="backgroundweb" nav-transition="none">
    
    <div ng-controller="ButtonsCtrl">
    <h4>Single toggle</h4>
    <pre>{{singleModel}}</pre>
    <button type="button" class="btn btn-primary" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
        Single Toggle
    </button>
    <h4>Checkbox</h4>
    <pre>Model: {{checkModel}}</pre>
    <pre>Results: {{checkResults}}</pre>
    <div class="btn-group">
        <label class="btn btn-primary" ng-model="checkModel.left" btn-checkbox>Left</label>
        <label class="btn btn-primary" ng-model="checkModel.middle" btn-checkbox>Middle</label>
        <label class="btn btn-primary" ng-model="checkModel.right" btn-checkbox>Right</label>
    </div>
    <h4>Radio &amp; Uncheckable Radio</h4>
    <pre>{{radioModel || 'null'}}</pre>
    <div class="btn-group">
        <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Left'">Left</label>
        <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Middle'">Middle</label>
        <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Right'">Right</label>
    </div>
    <div class="btn-group">
        <label class="btn btn-success" ng-model="radioModel" btn-radio="'Left'" uncheckable>Left</label>
        <label class="btn btn-success" ng-model="radioModel" btn-radio="'Middle'" uncheckable>Middle</label>
        <label class="btn btn-success" ng-model="radioModel" btn-radio="'Right'" uncheckable>Right</label>
    </div>
</div>
    
    <div>

        <center  class="center" style="text-align:center;">
            <a nav-transition="none" class="btn btn-primary btn-xl toolbutton" ng-click="webHome()" transition="none" style="margin:10px; padding:25px; padding-top:12px; padding-bottom:12px; border-radius:30px;"><b>Home</b></a>

            <a nav-transition="none" class="btn btn-primary btn-xl toolbutton" ng-click="Capture()" transition="none" style="margin:10px; padding:25px; padding-top:12px; padding-bottom:12px; border-radius:30px;"><b>Capture</b></a>

            <a nav-transition="none" class="btn btn-primary btn-xl toolbutton" ng-click="Analyze()" transition="none" style="margin:10px; padding:25px; padding-top:12px; padding-bottom:12px; border-radius:30px;"><b>Analyze</b></a>

            <a nav-transition="none" class="btn btn-primary btn-xl toolbutton" ng-click="Account()" transition="none" style="margin:10px; padding:25px; padding-top:12px; padding-bottom:12px; border-radius:30px;"><b>Account</b></a>
        </center>
        <div class="row">

            <!--
            <div class="col col-15">
                <div style="width:100%; padding:0; margin:0;">
                    <button class="button button-large button-balanced button-outline ion-checkmark-round" style="width:100%; padding:0; margin:0;" ng-click="testgo()">
                        Tsfadsa
                    </button>
                </div>
            </div>
-->
        </div>

        <ul style="width:60%;">

            <li ng-repeat="photo in photos" style=" padding:0px; background-color:transparent; width:80%; padding-left:20%; border:1px solid grey; margin:0px;">
                <a href="#/webchat/{{$index}}" style="text-decoration:none;background-color:transparent;">
                    <div class="list card" style="background-color:transparent;">

                        <div class="item item-avatar">
                            <img src="http://msharboursclass.weebly.com/uploads/4/1/9/6/4196620/harcourt273.jpg">
                            <h2>{{ photo.summary }}</h2>
                            <p>July 19, 2015</p>
                        </div>

                        <div class="item item-body">
                            <p>
                                {{ photo.summary }}
                            </p>
                            <p>
                                <a href="#" class="subdued">1 Upvotes</a>
                                <a href="#" class="subdued">5 Downvotes</a>
                            </p>
                        </div>

                        <div class="item tabs tabs-secondary tabs-icon-left">
                            <a class="tab-item" href="#">
                                <i class="icon ion-thumbsup"></i> Accurate
                            </a>
                            <a class="tab-item" href="#">
                                <i class="icon ion-thumbsdown"></i> Inaccurate
                            </a>

                        </div>

                    </div>

                    </div>
                </a>
            </li>
        </ul>


    </div>

</div>