<div class="analyze">
    <nav class="navbar navbar-fixed-top  navbar-default transparent" style="background: rgba(255, 153, 51, 0.4); position:fixed;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/webHome">Quill</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li><a href="#/analyze">Analyze</a>
                    </li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#/account" style="padding:0px; margin:8px;">
                            <button type="submit" class="btn btn-success signUp" style="width:120px;"><b>Signup</b>
                            </button>
                        </a>
                    </li>
                    <li>
                        <a href="#/account" style="padding:0px; margin:8px;">
                            <button type="submit" class="btn btn-success logIn"><b>Login</b>
                            </button>
                        </a>
                    </li>


                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <center>

        <div style="padding:50px">

            <div style="border:1px dashed grey; height:80px; background-color:#F0F0F0;">
                <h6 style="font-size:35px; margin-top:20px; color:#505050"><img style="width:40px; height:40px;" src="../app/images/upload.png"> Upload Your Files or <a href="" style="text-decoration:none;">Selct One</a></h6>
            </div>

        </div>

        <div class="photo">

            <div class="row">
                <div class="col-md-1">
                    <img src="../app/images/orange1.png" style="height:80px; width:80px;">
                </div>
                <div class="col-xs-12 col-md-8" style="float:left;">
                    <p>If the rate at which reactant molecules collid is increased, then the reaction rate will also increase. </p>
                    <p>Aug 29, 2015</p>
                    <p>Molecules, Chemistry, Fission, Reactions</p>
                </div>
            </div>

        </div>
    </center>
</div>