      
<nav class="navbar navbar-fixed-top  navbar-default" data-spy="affix-top" style="padding:0px; ">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/webHome">Quill</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li  class="active"><a href="/app/#/capture">Upload <span class="sr-only">(current)</span></a></li>
        <li><a href="#/analyze">Analyze</a></li>
        
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        
        <li><a href="#/account" style="padding:0px; margin:8px;"><button type="submit" class="btn btn-default">Login</button></a></li>
          
         <li><a href="#/account" style="padding:0px; margin:8px;"><button type="submit" class="btn btn-default">Signup</button></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<script>
$('#myAffix').affix({
  offset: {
    top: 100,
    bottom: function () {
      return (this.bottom = $('.footer').outerHeight(true))
    }
  }
})
</script>
<center>

<div style="padding:50px">
<div  style="border:1px dashed grey; height:80px; background-color:#F0F0F0;">
<h6 style="font-size:35px; margin-top:20px; color:#505050"><img style="width:40px; height:40px;" src="../app/images/upload.png"> Upload Your Files or <a href="">Selct One</a></h6>
</div>
</div>
    </center>