<nav class="navbar navbar-fixed-top  navbar-default change">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/webHome">Quill</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li><a href="#/analyze">Analyze</a>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/account" style="padding:0px; margin:8px;">
                        <button type="submit" class="btn btn-success signUp" style="width:120px;"><b>Signup</b>
                        </button>
                    </a>
                </li>
                <li>
                    <a href="#/account" style="padding:0px; margin:8px;">
                        <button type="submit" class="btn btn-success logIn"><b>Login</b>
                        </button>
                    </a>
                </li>


            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<script>
    var a = $(".change").offset().top;

    $(document).scroll(function () {
        if ($(this).scrollTop() > a) {
            $('.change').css({
                "background": "rgba(255, 230, 201, 0.8)"
            });
        } else {
            $('.change').css({
                "background": "rgba(255, 153, 51, 0.4)"
            });
        }
    });
</script>


<div class="" style="height: 505px; padding-top:30px;">
    <carousel interval="myInterval" no-wrap="noWrapSlides">
        <slide ng-repeat="slide in slides" active="slide.active">
            <img src="{{slide.image}}" style="width:100%; height:505px;">
            <div class="carousel-caption" style="margin-bottom:150px;">
                <h4 style="font-size:60px;">{{slide.header}}</h4>
                <p style="font-size:20px;">{{slide.text}}</p>
                <div class="btn-group">
                    <a href="{{slide.link}}">
                        <button style="" class="btn btn-default btn-lg" type="button" id="hover" aria-haspopup="true" aria-expanded="false">
                            {{slide.buttontext}}
                        </button>
                    </a>

                </div>
            </div>
        </slide>
    </carousel>
</div>


<center>
    <br>
    <br>
    <div class="row" style="padding:30px;">
        <div class="col-xs-6 col-sm-4">
            <div class="panel panel-danger ">
                <div class="panel-heading">Upload</div>
                <div class="panel-body">
                    <img src="../app/images/upload.png" style="width:20%;">
                    <p>To use Quill, start by uploading the body of text you want analyzed. Quill works best with more analytical writings such as textbook pages or news articles. </p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4">
            <div class="panel panel-danger ">
                <div class="panel-heading">Analyze</div>
                <div class="panel-body">
                    <img src="../app/images/analyze.png" style="width:20%;">
                    <p>Quill will analyze the text and pull out the most important information. Quill displays this information through summaries, data visualizations and croud sourced notes. </p>
                </div>
            </div>
        </div>
        <!-- Optional: clear the XS cols if their content doesn't match in height -->
        <div class="col-xs-6 col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-heading">On the Go</div>
                <div class="panel-body">
                    <img src="../app/images/iphone.png" style="width:20%;">
                    <p>Quill is on the app store! Not only can you view all your notes on the go, but you can also take photos of any piece of text you want analyzed. </p>
                </div>
            </div>
        </div>
    </div>


</center>